
<div class="marginless no-padding">
<div id="map" class="mapholder"></div>

</div>
<div class="user_info">
    <ul class="user_icons list-inline text-center">
        <li><img src="assets/img/review.png"></li>
        <li><img src="assets/img/message.png"></li>
        <li><img src="assets/img/eandg_logo.png"  class="user_photo"></li>
        <li><img src="assets/img/available.png"></li>
        <li><img src="assets/img/calender.png"></li>
    </ul>


    <div class="text-center" ng-repeat="profile in profileinfo">
        <h3>{{profile.fullname}} | {{profile.businessname}}</h3>
        <p>{{profile.location}}</p>
        <button class="buttons btn btn-default btn-lg">Inquire</button>
    </div>

</div>

