
<div class="page">
    <h1 class="text-center">PROFILE</h1>
    <form id="profile">
<div class="row">

            <div class="form-group">
                <label for="service">Service</label>
                <select class="form-control" id="service">
                    <option>Roofing</option>
                </select>
            </div>
            <div class="form-group">
                <label>Select Days Available</label><br>
                <label class="checkbox-inline">
                    <input type="checkbox" id="mon" value="option1"> Mon
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" id="tues" value="option2"> Tues
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" id="wed" value="option3"> Wed
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" id="thurs" value="option3"> Thurs
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" id="fri" value="option3"> Fri
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" id="sat" value="option3"> Sat
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" id="sun" value="option3"> Sun
                </label>
            </div>
</div>
        <div class="row">
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="fromdate">From</label>
                    <select class="form-control" id="fromdate">
                        <option>8:00AM</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="todate">To</label>
                    <select class="form-control" id="todate">
                        <option>8:00PM</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="withinmiles">Within</label>
                    <select class="form-control" id="withinmiles">
                        <option>25 Miles</option>
                    </select>
                </div>
            </div>

        <div class="form-group">
            <label for="describeservice">Describe Service</label>
            <textarea id="describeservice" class="form-control" rows="3"></textarea>
        </div>

            <button type="submit" class="buttons btn btn-default" id="submitprofile">Submit</button>


</div>
    </form>
</div>

