
<div class="page">
    <h1 class="text-center">SETTINGS</h1>
<div class="row">
    <form id="settings">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name">
            </div>
            <div class="form-group">
                <label for="businessname">Business Name</label>
                <input type="text" class="form-control" id="businessname">
            </div>
            <div class="form-group">
                <label for="location">Location</label>
                <input type="text" class="form-control" id="location">
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password">
            </div>
        <div class="form-group">
            <label for="confirmpassword">Confirm Password</label>
            <input type="password" class="form-control" id="confirmpassword">
        </div>
            <div class="form-group">
                <label for="uploadphoto">Upload Photo</label>
                <input type="file" id="uploadphoto">
            </div>
            <!--<div class="checkbox">
                <label>
                    <input type="checkbox"> Check me out
                </label>
            </div>-->
            <button type="submit" class="buttons btn btn-default" id="submitsettings">Submit</button>

    </form>
</div>
</div>
