.user_info{
  background-color: @brand-primary;
  color:@white;
  padding: @basePadding;
  .user_icons li{
    margin:@baseMargin - 5;
  }
  .user_photo{
    border: 5px solid @white;
  }
  h3{
    color:#26a9d3;
    letter-spacing: 4px;
  }
  p{
    font-size: 18px;
    letter-spacing: 3px;
  }
  button{
    background-color: @brand-secondary;
  }
}
